body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body,
input {
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,
.App {
  height: 100vh;
}